/* buttons */

.background{
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
}

.background h1, h3, svg, p, table, input, thead, tr, th {
    color: var(--color);
    background-color: var(--bg-color);
}

.background, .modalContent, .modalContentSmall, .modalContentBig {
    color: var(--color);
    background-color: var(--bg-color);
    border: 1px solid var(--color);
}

.primaryButton {
    background-color: rgb(71, 71, 219);
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    margin: 1rem;
    border-radius: 10px;
    font-size: 1rem;
}

.secondaryButton {
    background-color: rgb(128, 128, 212);
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    margin: 1rem;
    border-radius: 10px;
    font-size: 1rem;
}

.pageHeadline {
    color: var(--text-color);
    font-size: 1.5rem;
}

/* form for update inventory or add product to user */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modalContent {
    padding: 20px;
    border-radius: 8px;
    height: 50vh;
    width: 60%;
}

.modalContentSmall {
    padding: 20px;
    border-radius: 8px;
    height: 20vh;
    width: 60%;
}

.modalContentBig {
    padding: 20px;
    border-radius: 8px;
    height: 60vh;
    width: 60%;
}

@media only screen and (min-width: 767px) {
    .modalContent{
        width: 45%;
    }
    .modalContentBig{
        width: 45%;
    }
    .modalContentSmall{
        width: 45%;
    }
  }

.modalContentHeader {
    display: flex;
    justify-content: space-between;
}

.modalContent h1 {
    margin-top: 0;
    font-size: 1.5rem;
}

.modalContent p {
    margin-right: 0.5rem;
    align-self: center;
}

.modalContent input {
    width: 5rem;
}

.modalContent label {
    margin-right: 1rem;
    display: block;
    margin-bottom: 8px;
    align-self: center;
}

.modalContentBig label {
    margin-right: 1rem;
    display: block;
    margin-bottom: 8px;
    align-self: center;
}

.modalDetailsRow {
    display: flex;
    margin-bottom: 1rem;
    height: 2rem;
}

.modalContent th {
    width: 50%;
    padding: 8px;
    align-self: center;
}

.modalContentTableHead {
    display: flex;
    text-align: justify;
}

.modalContentTable {
    width: 100%;
}

.modalDetailsRow td {
    width: 50%;
    padding: 8px;
    align-self: center;
}

.modalActions {
    display: flex;
    justify-content: flex-end;
}

.modalContent svg {
    margin: 0 0.5rem;
}

.inventoryContainer{
    display: flex;
}

.disabled{
    opacity: 0.5;
    cursor: not-allowed;
}