.landingPageContainer {
    display: flex;
    width: auto;
    height: 100vh;
    background: linear-gradient(135deg, whitesmoke, rgb(71, 71, 219));
    align-items: center;
}

body{
    margin: 0 auto;
}

.landingPageCentralContainer{
    display: flex;
    width: 100%;
    height: 60vh;
}

.landingPageCentralContainerContent{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 60vh;
    padding: 0 5rem;
}

.landingPageCentralContainerContent h1, p{
    margin-left: 1rem;
}

.landingPageCentralContainerContent h1{
    font-size: 4rem;
}

.landingPageCentralContainerContent p{
    font-size: 1.5rem;
}

.landingPageCentralContainerImage{
    width: 50%;
    background-color: antiquewhite;
}

.button {
    background-color: rgb(71, 71, 219);
    color: white;
    border: none;
    padding: 15px 15px;
    cursor: pointer;
    margin: 1rem;
    border-radius: 10px;
    font-size: 1.5rem;
}