.landingPageContainer {
    width: auto;
    height: 100%;
    background: linear-gradient(135deg, whitesmoke, rgb(71, 71, 219));
    align-items: center;
}

body {
    margin: 0 auto;
    font-family: 'Overpass', sans-serif;
}

.landingPageCentralContainer {
    display: flex;
    width: 100%;
    height: 90vh;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .landingPageCentralContainer {
        display: flex;
        flex-direction: column-reverse;
    }

    .landingPageCentralContainerContent,
    .landingPageCentralContainerImage {
        width: 100%;
        margin: 0;
        padding: 0.5rem;
    }

    .landingPageCentralContainerImage>img {
        width: 80%;
    }
}

@media only screen and (min-width: 1001px) {

    .landingPageCentralContainerContent,
    .landingPageCentralContainerImage {
        width: 50%;
        margin: 1rem;
        padding: 0 2rem;
        height: 60vh;
    }

    .landingPageCentralContainerImage>img {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .landingPageCentralContainerImage {
        display: none;
    }
    .landingPageCentralContainerImage > img {
        display: none;
    }
    .landingPageCentralContainer{
        height: 70vh;
    }
}

.landingPageCentralContainerContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.landingPageCentralContainerContent>h1 {
    font-size: 4rem;
    font-weight: 200;
}

.landingPageCentralContainerContent p {
    font-size: 1.5rem;
}

.landingPageCentralContainerImage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: rgb(71, 71, 219);
    color: white;
    border: none;
    padding: 15px 15px;
    cursor: pointer;
    margin: 1rem;
    border-radius: 10px;
    font-size: 1.5rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(71, 71, 219);
    color: white;
    padding: 10px 20px;
    height: 10vh;
    position: sticky;
    top: 0;
}

.logo {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.logo>img {
    width: 8rem;
}

@media only screen and (max-width: 370px) {
    .logo>img {
        width: 5rem;
    }
    a {
        font-size: 0.8rem;
    }
}

.navLinks {
    display: flex;
    gap: 20px;
    columns: white;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: white;
    margin: 0 1rem;
}

.aboutSectionContainer {
    margin: 1rem 3rem 1rem 1rem;
}

.stepsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

@media only screen and (max-width: 1000px) {
    .stepsContainer {
        flex-direction: column;
    }
    .step {
        margin-bottom: 1rem;
    }
    .aboutSectionContainer{
        height: 325vh;
        padding: 0;
    }
}

@media only screen and (max-width: 787px) {
    .aboutSectionContainer{
        height: 270vh;
        padding: 0;
    }
}

@media only screen and (max-width: 500px) {
    .aboutSectionContainer{
        height: 210vh;
        padding: 0;
    }
}

@media only screen and (min-width: 1001px) {
    .step {
        margin: 0 1rem;
    }
    .aboutSectionContainer {
        height: 80vh;
        padding: 0 2rem;
    }
}

.step {
    text-align: center;
    flex: 1;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
    height: 35vh;
    max-width: 50%;
}

.step img {
    max-width: 100%;
    height: auto;
}

.step p {
    margin-top: 1rem;
}