@tailwind base;
@tailwind components;
@tailwind utilities;

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr{
    width: 5rem;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

h1, h2, h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}