@tailwind base;
@tailwind utilities;
@tailwind components;

.category-card {
  background-color: whitesmoke;
  max-height: 50rem;
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  margin: .5rem;
  padding: .5rem;
}

.category-card img {
  height: 15rem;
  overflow: hidden;
}

.category-section {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .category-section {
    display: flex;
    flex-direction: column;
  }
}

.category-banner {
  width: 99%;
  height: 150px;
  background-color: #D9D9D9;
  clip-path: polygon(85% 0%, 100% 52%, 85% 100%, 0 100%, 0 0);
  margin: 0.5em;
}

@media only screen and (max-width: 600px) {
  .buttonFooterGeneric{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 10vh;
    bottom:0;
    border-top: #D9D9D9 solid 4px;
    padding: 2em;
  }
}

.is-sticky {
  position: sticky;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 0px;
  padding-bottom: 0px;
}

.newProductFormContainerBackground {
  width: 90%;
  height: 60%;
  background-color: #F4F2F2;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 1rem 0.5rem;
}

.newProductFormContainer{
  width: 95%;
}

.newProductFormContainer>h1{
  font-family: 'Inter';
  font-style: normal;
  color: red;
}

.newProductForm {
  display: flex;
  flex-direction: column;
}

.newProductFormForm {
  display: flex;
  flex-direction: column;
}

.newProductFormInput {
  display: flex;
  padding: 1rem;
  margin: 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background-color: #BCD4FB;
  color: black;
}

.newProductFormFormSubmit {
  display: flex;
  padding: 1rem;
  margin: 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  align-self: flex-end;
  background-color: #379827;
  color: white;
}

.dismissButtonWrapper{
  display: flex;
  justify-content: flex-end;
}

.dismissButtonWrapper > button{
  color:white;
  background-color: #FF8888;
  width: 36px;
  height: 36.92px;
  border-radius: 50%;
}